[worldserver]

########################################
# Progressive Loading Configuration
########################################
#
#    Patch
#        Description: The Patch to load as which controls creature templates, items, quests available, spawns, disables etc.
#        Default:     4125  - (Launch)

ProgressiveLoading.Patch = 4125

#
#    Welcome
#        Description: Announce to players on login which patch is currently being emulated.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

ProgressiveLoading.Welcome = 1